.top_container {
    border: 1px solid #8C8C8C;
    height: 100px;
    width: 600px;
}

.playersrdy {
    position: relative;
    float: right;
    border: 1px solid red;
}

#new_word {
    position: relative;
    
}
.mid_container {
      width: 600px;
      height: 150px;
      border: 1px dashed #800;
}
.bottom_container {
    width: 600px;
    border: 1px solid black;
}